# 忽略C++编译文件
./c_C++/build/
./c_opencv/build/
./c_template/ws/build/
./c_template/install/
./win_C++/test.exe
#放弃跟踪
#git rm -r --cached ./c_C++/build/ ./c_opencv/build/ ./c_template/ws/build/ ./c_template/#install/ 

